body {
	background-color: black;
	background-repeat: no-repeat;
	background-size: 747px 561px;
	}

h2 {
	font-weight: bold;
	font-family: "Consolas", Arial, sans-serif;
	color: mediumspringgreen;
	text-shadow: 2px 2px 20px mediumspringgreen;
	outline-width: 0;
	font-size: 65x;
	top: 100px;
}

#head {
	font-weight: bold;
	font-family: "Consolas", Arial, sans-serif;
	color: mediumspringgreen;
	text-shadow: 2px 2px 20px mediumspringgreen;
	outline-width: 0;
	font-size: 100x;
	top: 100px;
}
	
a {
	font-family: "Segoe UI", Arial, sans-serif;
	color: white;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 105x;
	text-shadow: 1px 1px 20px white;
}

p {
	font-family: "Segoe UI", Arial, sans-serif;
	color: white;
	margin-left: 5px;
	margin-right: 5px;
	text-shadow: 1px 1px 20px white;
}

#pbad {
	font-family: "Segoe UI", Arial, sans-serif;
	color: white;
	margin-left: 5px;
	margin-right: 5px;
	text-shadow: 1px 1px 20px white;
}

#tomoClick {
	position: fixed;
	left: 97%;
	top: 98%;
}