body {
	background-color: black;
}

#head {
	font-weight: bold;
	font-family: "Consolas", Arial, sans-serif;
	color: white;
	text-shadow: 2px 2px 20px white;
	outline-width: 0;
	font-size: 100x;
	top: 100px;
}

a {
	font-family: "Segoe UI", Arial, sans-serif;
	color: lightblue;
	margin-left: 5px;
	margin-right: 5px;
	text-shadow: 1px 1px 20px lightblue;
}
